In [1]:
soil_properties = pd.read_csv("/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/soilProperties20222023.csv")
soil_properties.info()
soil_properties[['x', 'y']]= soil_properties['sample'].str.split(' ', n = 1 , expand = True)
soil_properties['plot'] = soil_properties['site'].astype(str) + '_' + soil_properties['plot'].astype(str)
soil_properties.drop(columns = {'sample', 'site'}, inplace = True)
#pd.set_option('display.max_rows', None) データを全て確認できる
#pd.set_option('display.max_columns', None)
soil_properties.head()
#seriesのデータ型を文字列に変更するのがastype(str)
#strは文字列から数値 or 数値から文字列に変換する関数

mean_soiltemp = pd.read_csv("/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/meanSoilTempDf20160723.csv")
mean_soiltemp.info()
mean_soiltemp.head()

qPCRdf = pd.merge(soil_properties, mean_soiltemp, on = 'plot', how = 'inner')
qPCRdf['all_info'] = qPCRdf[['plot','x','y','depth','season']].astype(str).agg('-'.join, axis = 1)
qPCRdf.drop(columns = {'plot','x','y','depth','season'}, inplace = True)
qPCRdf = qPCRdf.reset_index(drop = True)
qPCRdf.head()
#　agg関数を使用するとinndexになるのでreset_index()を使用してデータフレームの列名に直す

fungi_bacteria_copynum = pd.read_csv('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/fungiBacteriaCopyNum.csv')
fungi_bacteria_copynum.info()
fungi_bacteria_copynum.drop(columns = ['serial'], inplace = True)
fungi_bacteria_copynum.rename(columns = {'subplot_x':'x', 'subplot_y':'y'}, inplace = True)
fungi_bacteria_copynum['all_info'] = fungi_bacteria_copynum[['plot','x','y','depth','season']].astype(str).agg('-'.join, axis = 1)
fungi_bacteria_copynum.drop(columns = {'plot','x','y','depth','season'}, inplace = True)
fungi_bacteria_copynum = fungi_bacteria_copynum.copy()
fungi_bacteria_copynum.head()
# copy数が '0'の場所をNAに直す
# print(qPCRdf.columns)
# print(fungi_bacteria_copynum.columns)

qPCRdf = pd.merge(qPCRdf,fungi_bacteria_copynum, on = 'all_info', how = 'inner' )
qPCRdf[['plot','x','y','depth','season']] = qPCRdf['all_info'].str.split('-' , n = 5, expand = True)
qPCRdf.drop(columns =  {'all_info'}, inplace = True)
qPCRdf.head()

qPCRdf['all_info'] = qPCRdf[['plot','x','y']].astype(str).agg('-'.join, axis = 1)
qPCRdf.drop(columns = {'plot', 'x', 'y' }, inplace = True)
qPCRdf = qPCRdf.reset_index(drop = True)
qPCRdf.head()

under_vagetation = pd.read_csv('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/understoryVegatation2020.csv',
                               encoding ='cp932', usecols =['plot','totalCover2020','bambooCover2020','coordinates'])
under_vagetation.info()
under_vagetation['coordinates'] = under_vagetation['coordinates'].str.replace(r'[()]', '', regex = True)
under_vagetation[['x','y']] = under_vagetation['coordinates'].str.split(',', expand = True)
under_vagetation['all_info'] = under_vagetation[['plot','x','y']].astype(str).agg('-'.join, axis = 1)
under_vagetation.drop(columns = {'coordinates','plot', 'x', 'y'} , inplace = True)
under_vagetation.head()

qPCRdf = pd.merge(qPCRdf, under_vagetation, on = 'all_info', how = 'inner')
qPCRdf[['plot', 'x', 'y']] = qPCRdf['all_info'].str.split('-' , n = 3, expand = True )
qPCRdf.head()

! pip install numpy
import numpy as np
topographicProperties = pd.read_csv('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/topographicPropertiesForSubplot.csv')
topographicProperties.info()
topographicProperties.drop(columns ={'subplot'}, inplace = True)
topographicProperties['asp1']= np.tan(topographicProperties['slope']) * np.cos(topographicProperties['aspect'])
topographicProperties['asp2'] = np.tan(topographicProperties['slope']) * np.sin(topographicProperties['aspect'])
topographicProperties['all_info'] = topographicProperties[['plot', 'x', 'y']].astype(str).agg('-'.join, axis = 1)
topographicProperties.drop(columns = {'plot', 'x', 'y'}, inplace = True)
topographicProperties

qPCRdf = pd.merge(qPCRdf, topographicProperties, on = 'all_info', how = 'inner')
qPCRdf

lightintensity = pd.read_csv ('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/lightIntensity2023.csv')
lightintensity.info()
lightintensity[['x', 'y']] = lightintensity['quadrat'].str.split(',' , expand = True )
lightintensity['tsf'] = lightintensity['TSF_20240717']/ 154
lightintensity.drop(columns ={'DSF_20240717','ISF_20240717','TSF_20240717','quadrat'}, inplace = True)
lightintensity['all_info'] = lightintensity[['plot', 'x', 'y']].astype(str).agg( '-'.join , axis = 1 )
lightintensity.rename(columns ={'WCO_20240717': 'wco'}, inplace = True)
lightintensity.drop(columns = {'plot', 'x', 'y'}, inplace = True)
lightintensity

qPCRdf = pd.merge(qPCRdf, lightintensity, on = 'all_info', how = 'inner')
qPCRdf

litter = pd.read_csv('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/litter20222023.csv')
litter.info()
litter.drop(columns = {'note'}, inplace = True)
litter.rename(columns = {'subplot_x' : 'x', 'subplot_y' : 'y'}, inplace = True) 
litter['all_info'] = litter[['plot','x','y','season']].astype(str).agg('-'.join, axis = 1)
litter = litter.pivot(index = 'all_info', columns = 'category', values = 'weightLitter')
litter = litter.reset_index()
litter[['plot','x', 'y', 'season']] = litter['all_info'].str.split('-', n = 5, expand = True)
litter.drop(columns= {'all_info','soil'}, inplace = True)
litter['all_info'] = litter[['plot', 'x', 'y', 'season']].astype(str).agg('-'.join, axis = 1)
litter.drop(columns = {'plot', 'x', 'y', 'season'}, inplace = True )
litter

qPCRdf[['plot', 'x', 'y']] = qPCRdf['all_info'].str.split('-', n = 3, expand = True)
qPCRdf['all_info'] = qPCRdf[['plot', 'x', 'y', 'season']].astype(str).agg('-'.join, axis = 1)
qPCRdf = qPCRdf.reset_index(drop = True)
qPCRdf = pd.merge(qPCRdf, litter, on = 'all_info', how = 'inner')
qPCRdf.drop(columns = {'all_info'}, inplace = True)
qPCRdf['fungiCopyNum'].replace({'O':pd.NA, 0: pd.NA}, inplace= True)
qPCRdf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   site      240 non-null    object
 1   plot      240 non-null    object
 2   sample    240 non-null    object
 3   depth     240 non-null    object
 4   season    240 non-null    object
 5   temp      240 non-null    float64
 6   hardness  240 non-null    float64
 7   EC        240 non-null    float64
 8   EC2       240 non-null    float64
 9   pH        240 non-null    float64
 10  C/N       240 non-null    float64
dtypes: float64(6), object(5)
memory usage: 20.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   plot          59 non-null     object
 1   meanSoilTemp  59 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   serial           240 non-null    object
 1   season           240 non-null    object
 2   plot             240 non-null    object
 3   depth            240 non-null    object
 4   subplot_x        240 non-null    int64
 5   subplot_y        240 non-null    int64
 6   fungiCopyNum     240 non-null    int64
 7   bacteriaCopyNum  240 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 15.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   plot             540 non-null    object
 1   coordinates      540 non-null    object
 2   totalCover2020   540 non-null    float64
 3   bambooCover2020  540 non-null    float64
dtypes: float64(2), object(2)
memory usage: 17.0+ KB
Requirement already satisfied: numpy in /Users/shimizushota/myenv/lib/python3.12/site-packages (2.2.4)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   plot                     540 non-null    object
 1   x                        540 non-null    int64
 2   y                        540 non-null    int64
 3   subplot                  540 non-null    object
 4   elevation                540 non-null    float64
 5   slope                    540 non-null    float64
 6   aspect                   540 non-null    float64
 7   topographicWetnessIndex  540 non-null    float64
 8   normalizedHeight         540 non-null    float64
dtypes: float64(5), int64(2), object(2)
memory usage: 38.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   plot          540 non-null    object
 1   quadrat       540 non-null    object
 2   WCO_20240717  540 non-null    float64
 3   DSF_20240717  540 non-null    float64
 4   ISF_20240717  540 non-null    float64
 5   TSF_20240717  540 non-null    float64
dtypes: float64(4), object(2)
memory usage: 25.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   plot          540 non-null    object
 1   subplot_x     540 non-null    int64
 2   subplot_y     540 non-null    int64
 3   season        540 non-null    object
 4   category      540 non-null    object
 5   weightLitter  540 non-null    float64
 6   note          540 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 29.7+ KB

/var/folders/2n/k04q38yx087g0pz_q6w7gfd40000gn/T/ipykernel_7173/4092435809.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  qPCRdf['fungiCopyNum'].replace({'O':pd.NA, 0: pd.NA}, inplace= True)

,temp,hardness,EC,EC2,pH,C/N,meanSoilTemp,fungiCopyNum,bacteriaCopyNum,depth,...,topographicWetnessIndex,normalizedHeight,asp1,asp2,wco,tsf,F,H,L,root
0,6.266667,6.733333,0.023333,6.240,4.90,14.13,17.091954,799275896,5.400098e+11,0~10,...,5.857820,0.829627,-0.431510,-0.054426,10.06,12.780000,18.6,32.4,23.6,0.1
1,8.433333,10.833333,0.013333,1.960,5.47,16.55,17.091954,494411415,2.454023e+11,10~20,...,5.857820,0.829627,-0.431510,-0.054426,10.06,12.780000,18.6,32.4,23.6,0.1
2,5.966667,11.000000,0.013333,7.340,5.10,13.15,17.091954,2193772116,5.250106e+11,0~10,...,6.634809,0.800156,-0.353152,0.000537,9.51,9.446558,50.3,175.9,39.0,1.9
3,8.433333,8.000000,0.003333,1.640,5.47,13.96,17.091954,549395139,1.760672e+11,10~20,...,6.634809,0.800156,-0.353152,0.000537,9.51,9.446558,50.3,175.9,39.0,1.9
4,6.800000,11.633333,0.020000,2.610,5.72,13.50,17.091954,3320234279,7.137855e+11,0~10,...,6.181860,0.754798,-0.311618,-0.004503,14.63,17.348766,62.8,227.4,28.9,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,9.100000,5.180000,0.010000,3.400,4.61,11.33,16.194325,1998254267,5.003325e+11,10~20,...,4.784337,0.698345,-0.284045,0.320275,10.11,15.697662,11.2,18.3,5.0,0.1
188,8.600000,6.480000,0.010000,0.772,4.74,10.32,16.194325,7957586915,1.201374e+12,0~10,...,4.846597,0.745629,-0.179899,0.295390,11.00,13.224351,11.7,31.8,32.4,0.4
189,9.400000,6.980000,0.000000,6.450,4.63,12.39,16.194325,490881191,1.367218e+11,10~20,...,4.846597,0.745629,-0.179899,0.295390,11.00,13.224351,11.7,31.8,32.4,0.4
190,8.400000,4.540000,0.010000,2.150,4.62,11.11,16.194325,1926080237,1.821542e+11,0~10,...,5.050172,0.668143,-0.253618,0.326972,7.62,7.261623,27.4,66.4,24.2,0.0
191,9.300000,7.000000,0.000000,3.020,4.71,12.20,16.194325,246922444,6.092042e+10,10~20,...,5.050172,0.668143,-0.253618,0.326972,7.62,7.261623,27.4,66.4,24.2,0.0

In [2]:
import math
tree = pd.read_csv('/Users/shimizushota/Library/CloudStorage/OneDrive-千葉大学/data/trees.csv', 
                   encoding = 'cp932', usecols = {'plot','X','Y','wamei','GBH_20-21','dead_20-21', 
                                                'dead_16-17', 'GBH_16-17' ,'GBH_12-13'})
tree.info()
tree.rename(columns = {'X' :'x', 'Y': 'y'}, inplace = True )
tree

conifer = tree[ ~ (tree['plot'] == 'NaN' ) & (tree['dead_20-21'] == 0 ) & 
        (tree['wamei'].isin(["カラマツ","ウラジロモミ","ツガ","針葉樹","コメツガ",
                             "トウヒ","ヒメコマツ","モミ","ストローブマツ"])) ]
conifer.info()
coniferBa = conifer[['plot','GBH_20-21', 'dead_20-21' ]]
coniferBa = coniferBa.copy()
coniferBa['coniferBa'] = coniferBa['GBH_20-21']** 2/ math.pi /4
coniferBa = coniferBa.groupby('plot', as_index = False).sum()
coniferBa['coniferBa'] = coniferBa['coniferBa']/ 1000000 / 0.09
coniferBa.drop(columns = {'GBH_20-21', 'dead_20-21'}, inplace =True)
coniferBa

hardwood = tree[ ~ (tree['plot'] == 'NaN') & (tree['dead_20-21'] == 0 ) &
           ( ~ tree ['wamei'].isin (["カラマツ","ウラジロモミ","ツガ","針葉樹","コメツガ",
                             "トウヒ","ヒメコマツ","モミ","ストローブマツ"])) ]
hardwoodBa = hardwood[['plot','GBH_20-21', 'dead_20-21' ]]
hardwoodBa = hardwoodBa.copy()
hardwoodBa['hardwoodBa'] = hardwoodBa['GBH_20-21']** 2/ math.pi /4
hardwoodBa = hardwoodBa.groupby('plot', as_index = False).sum()
hardwoodBa['hardwoodBa'] = hardwoodBa['hardwoodBa']/ 1000000 / 0.09
hardwoodBa.drop(columns = {'GBH_20-21', 'dead_20-21'}, inplace =True)
hardwoodBa

ecm = tree[ ~ (tree['plot'] == 'NaN') & (tree['dead_20-21'] == 0) &
       (tree['wamei'].isin([ "カラマツ" , "ミズナラ" , "ブナ" , "ウダイカンバ" , "イヌブナ" , "ダケカンバ" , "ミズメ" , "クリ" ,
                            "ウラジロモミ" , "シラカンバ" , "クマシデ" , "ツガ" , "アカシデ" , "サワシバ" , "イヌシデ" , "ヤシャブシ" ,
                            "コメツガ" , "ネコシデ" , "トウヒ" , "ヒメコマツ" , "ジゾウカンバ" , "モミ" , "カバノキ類" , "オノオレカンバ" ,
                            "ブナ類" , "バッコヤナギ" , "ストローブマツ" , "アサダ" ]))]
ecmBa = ecm[['plot','GBH_20-21', 'dead_20-21' ]]
ecmBa = ecmBa.copy()
ecmBa['ecmBa'] = ecmBa['GBH_20-21']** 2/ math.pi /4
ecmBa = ecmBa.groupby('plot', as_index = False).sum()
ecmBa['ecmBa'] = ecmBa['ecmBa']/ 1000000 / 0.09
ecmBa.drop(columns = {'GBH_20-21', 'dead_20-21'}, inplace =True)
ecmBa

am = tree[ ~ (tree['plot'] == 'NaN') & (tree['dead_20-21'] == 0) &
       ( ~ tree['wamei'].isin([ "カラマツ" , "ミズナラ" , "ブナ" , "ウダイカンバ" , "イヌブナ" , "ダケカンバ" , "ミズメ" , "クリ" ,
                            "ウラジロモミ" , "シラカンバ" , "クマシデ" , "ツガ" , "アカシデ" , "サワシバ" , "イヌシデ" , "ヤシャブシ" ,
                            "コメツガ" , "ネコシデ" , "トウヒ" , "ヒメコマツ" , "ジゾウカンバ" , "モミ" , "カバノキ類" , "オノオレカンバ" ,
                            "ブナ類" , "バッコヤナギ" , "ストローブマツ" , "アサダ" ]))]
amBa = am[['plot','GBH_20-21', 'dead_20-21' ]]
amBa = amBa.copy()
amBa['amBa'] = amBa['GBH_20-21']** 2/ math.pi /4
amBa = amBa.groupby('plot', as_index = False).sum()
amBa['amBa'] = amBa['amBa']/ 1000000 / 0.09
amBa.drop(columns = {'GBH_20-21', 'dead_20-21'}, inplace =True)
amBa

deadBa = tree[ ( tree['dead_16-17']  == 1 ) | ( tree['dead_20-21'] == 1 ) ]
deadBa = deadBa.copy()
deadBa['deadGBH'] = np.where( deadBa['dead_16-17'] == 1 , deadBa['GBH_12-13'],
                          np.where(deadBa['dead_20-21'] == 1, deadBa['GBH_16-17'] , 'NA'))
deadBa = deadBa[ ~ (deadBa['deadGBH'] == 'NaN') & ~ (deadBa['deadGBH'] == 'nan' ) ]
deadBa.drop( columns = {'wamei', 'GBH_12-13', 'GBH_16-17', 'dead_16-17', 'GBH_20-21', 'dead_20-21', 'x', 'y' }, inplace = True)
deadBa['deadGBH'] = pd.to_numeric(deadBa['deadGBH'], errors='coerce') #deadBa全体をseries(一列)にしてしまった
deadBa['deadBa'] = deadBa['deadGBH']** 2/ math.pi /4 
deadBa = deadBa.groupby('plot', as_index = False).sum()
deadBa['deadBa'] = deadBa['deadBa']/ 1000000 / 0.09
deadBa

baDf = pd.merge(coniferBa, hardwoodBa, on = 'plot', how = 'inner' )
baDf = pd.merge( baDf, ecmBa , on = 'plot', how = 'inner' )
baDf = pd.merge( baDf, amBa, on = 'plot', how = 'inner' )
baDf = pd.merge( baDf, deadBa, on = 'plot', how = 'inner' )
baDf['totalBa'] = baDf['ecmBa'] + baDf['amBa']
baDf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9006 entries, 0 to 9005
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   plot        8993 non-null   object
 1   X           8992 non-null   float64
 2   Y           8992 non-null   float64
 3   wamei       8991 non-null   object
 4   GBH_12-13   8291 non-null   float64
 5   GBH_16-17   8618 non-null   float64
 6   dead_16-17  8850 non-null   float64
 7   GBH_20-21   7321 non-null   float64
 8   dead_20-21  8993 non-null   float64
dtypes: float64(7), object(2)
memory usage: 633.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1755 entries, 0 to 8913
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   plot        1755 non-null   object
 1   x           1755 non-null   float64
 2   y           1755 non-null   float64
 3   wamei       1755 non-null   object
 4   GBH_12-13   1694 non-null   float64
 5   GBH_16-17   1723 non-null   float64
 6   dead_16-17  1726 non-null   float64
 7   GBH_20-21   1751 non-null   float64
 8   dead_20-21  1755 non-null   float64
dtypes: float64(7), object(2)
memory usage: 137.1+ KB

,plot,coniferBa,hardwoodBa,ecmBa,amBa,deadGBH,deadBa,totalBa
0,I01_F,12.836480,21.413227,27.823411,6.426296,11387.0,3.718821,34.249707
1,I01_N,10.810904,27.757481,26.313080,12.255305,10579.0,2.732907,38.568384
2,I02_F,29.405057,18.352795,40.158271,7.599580,7459.0,5.376550,47.757852
3,I02_N,9.303941,33.206906,24.523602,17.987244,7708.0,4.723285,42.510847
4,I03_N,6.662425,26.864757,13.631702,19.895479,6282.0,2.075865,33.527182
5,I04_F,15.298803,28.684343,26.655934,17.327213,14501.0,6.488925,43.983147
6,I04_N,8.922887,28.735917,23.902119,13.756684,12479.0,3.561878,37.658803
7,I05_F,7.665690,36.192383,29.318001,14.540072,9871.0,3.458737,43.858073
8,I05_N,11.764948,29.833732,30.162791,11.435889,11896.0,5.541236,41.598680
9,I06_F,8.519798,28.248929,24.342865,12.425861,6515.0,2.783985,36.768727
10,I06_N,0.131741,35.019519,16.571744,18.579516,7267.0,1.942552,35.151260
11,I08_F,30.309428,37.254508,48.646371,18.917565,6279.0,5.589485,67.563936
12,I08_N,7.643273,34.530471,28.168025,14.005719,15152.0,8.846590,42.173744
13,I09_F,47.487929,3.030432,49.849079,0.669282,4362.0,1.254652,50.518361
14,I09_N,43.384996,7.659493,45.323608,5.720881,4907.0,1.624676,51.044489
15,I10_F,1.488962,31.568655,29.814834,3.242783,9707.0,8.159960,33.057617
16,I10_N,3.386330,37.774055,31.297490,9.862895,1964.0,0.515294,41.160385
17,I11_F,24.084336,17.915564,38.358525,3.641374,6520.0,1.706969,41.999899
18,I11_N,52.049802,11.209066,62.929391,0.329477,6645.0,2.956880,63.258868
19,I13_F,3.682798,46.322562,32.173830,17.831530,7168.0,2.631788,50.005359
20,I13_N,6.145504,41.678767,33.100725,14.723546,7741.0,2.412903,47.824271
21,I14_F,21.717978,15.167616,29.900524,6.985070,6409.0,2.690137,36.885594
22,I14_N,14.846915,29.319542,33.012209,11.154248,13621.0,5.767001,44.166457
23,I15_F,36.231312,8.853759,41.530412,3.554659,8645.0,1.712354,45.085071
24,I15_N,20.417236,16.640664,31.280419,5.777482,14958.0,3.347734,37.057900
25,T01_N,20.862489,30.660354,41.240522,10.282320,7180.0,3.625062,51.522842
26,T02_N,1.481994,27.817051,18.993576,10.305470,8335.0,4.241461,29.299046
27,T03_F,25.219705,29.314907,49.828561,4.706051,4860.0,2.334207,54.534612
28,T03_N,26.902877,12.605672,34.611715,4.896833,7578.0,4.892607,39.508549
29,T04_F,14.793201,21.941749,34.370863,2.364087,7736.0,6.326474,36.734950
30,T04_N,28.635446,19.865572,43.682072,4.818946,11277.0,7.867716,48.501018
31,T05_F,36.342968,6.353937,37.955760,4.741144,1543.0,0.507339,42.696904
32,T05_N,30.619603,17.195996,41.874908,5.940691,10546.0,6.767295,47.815599
33,T06_F,16.148646,19.911477,32.426474,3.633649,10662.0,2.910940,36.060123
34,T06_N,21.116744,12.857943,31.368611,2.606076,8776.0,1.597999,33.974687
35,T07_F,17.626810,24.941209,38.632174,3.935846,6012.0,1.572820,42.568020
36,T07_N,42.185165,6.953415,46.852616,2.285965,4489.0,1.637465,49.138580
37,T08_F,56.174961,5.757198,56.315021,5.617138,5401.0,4.566750,61.932158
38,T08_N,41.185547,3.105127,42.524438,1.766236,4071.0,1.128059,44.290674
39,T09_N,0.656995,25.247654,20.480208,5.424441,19453.0,5.605121,25.904649
40,T10_F,38.779307,5.259090,41.681138,2.357259,7853.0,6.687039,44.038397
41,T10_N,43.518503,5.205949,46.067815,2.656637,1186.0,0.223706,48.724452
42,T11_F,8.184032,19.836817,14.164554,13.856295,9378.0,5.085411,28.020849
43,T11_N,4.982651,30.139287,11.115250,24.006687,9549.0,4.035939,35.121937
44,T13_F,8.706698,32.649102,35.311451,6.044350,5857.0,6.295675,41.355801
45,T13_N,0.220165,38.022154,32.133970,6.108349,5860.0,1.832690,38.242319
46,T14_F,20.535009,49.612766,60.046064,10.101710,7973.0,3.371681,70.147775
47,T14_N,12.211290,33.057501,41.556830,3.711961,5337.0,1.711359,45.268791
48,T15_F,21.277144,47.024990,48.340195,19.961940,5739.0,3.834816,68.302134
49,T15_N,4.041487,29.606397,24.065861,9.582022,2754.0,1.340567,33.647884
50,T16_F,0.708917,42.155602,37.858538,5.005981,6374.0,5.245478,42.864519
51,T16_N,1.302774,51.098894,45.117868,7.283800,4396.0,1.318302,52.401669